@using MESS.Data.Models
@using MESS.Services.ProductionLog
@using Mono.TextTemplating
@using MESS.Blazor.Components.Carousel
@inject IProductionLogEventService ProductionLogEventService
@inject IJSRuntime JsRuntime

<div class="row">
    @* This stores the primary content i.e. the content that is always shown to the operator. The 'Name' field is always shown. *@
    <div class="col col-md-6 col-sm-12 col-3 primary-content">
        <div class="card">
            <div class="card-body">
                <p class="card-text d-block mb-1">
                    
                    @* Replace text with extra details i.e. body text *@
                    @switch (ShowDetails)
                    {
                        case false:
                            @((MarkupString)Step.Name)
                            break;
                        case true when Step.Body != null:
                            @((MarkupString)Step.Body)
                            break;
                    }
                </p>
            </div>
        </div>
    </div>
    
    
    <div class="col col-md-6 secondary-content">
        @if (Step.PrimaryMedia.Count > 0 || Step.SecondaryMedia.Count > 0)
        {
            <div class="card">
                <div class="card-body">
                    @if (ShowDetails && Step.SecondaryMedia.Count > 0)
                    {
                        <Carousel
                            Images="@Step.SecondaryMedia"
                            AutoPlay="false"
                            Interval="3000"
                            ImageStyle="height: 500px; object-fit: contain;" />
                    }
                    else if (!ShowDetails && Step.PrimaryMedia.Count > 0)
                    {
                        <Carousel
                            Images="@Step.PrimaryMedia"
                            AutoPlay="false"
                            Interval="3000"
                            ImageStyle="height: 500px; object-fit: contain;" />
                    }
                </div>

            </div>
        }
    </div>
    
</div>
<div class="row mt-3">
    <div class="col text-end">
        <input type="radio"
               checked="@(LogStep.LatestAttempt?.Success == true)"
               autocomplete="off"
               class="btn-check"
               name="radioBtn{@Step.Name}"
               id="radioSuccessBtn{@Step.Name}-@Step.Id"
               @onclick="@(async (e) => await HandleButtonPress(true))"/>
        <label class="btn btn-outline-success @(!string.IsNullOrEmpty(SelectedButton) && SelectedButton == "Success" ? "active" : "")" for="radioSuccessBtn{@Step.Name}-@Step.Id">Success</label>
       
        <input type="radio"
               checked="@(LogStep.LatestAttempt?.Success == false)"
               autocomplete="off"
               @onclick="@(async (e) => await HandleButtonPress(false))"
               class="btn-check"
               name="radioBtn{@Step.Name}"
               id="radioFailureBtn{@Step.Name}-@Step.Id"/>
        <label class="btn btn-outline-danger @(!string.IsNullOrEmpty(SelectedButton) && SelectedButton == "Failure" ? "active" : "")" for="radioFailureBtn{@Step.Name}-@Step.Id">Failure</label>
        
        <button @onclick="toggleDetails" class="btn btn-outline-secondary text-decoration-none" type="button">
            @(ShowDetails ? "Hide Details" : "Show Details")
        </button>
    </div>
</div>


<div class="d-inline-flex">
    <FluentTextArea 
        @ref="_failureNoteTextArea" 
        data-testid="optional-notes" 
        class="@(ShowOptionalNotesField ? "" : "d-none")" 
        @bind-Value="_currentAttemptNotes"
        @bind-Value:after="@(async () => await ProductionLogEventService.ChangeMadeToProductionLog())" />
</div>




@code {
    /// <summary>
    /// Represents the step data for the current work instruction.
    /// </summary>
    [Parameter]
    public required Step Step { get; set;}
    /// <summary>
    /// Represents the production log step associated with the current step.
    /// </summary>
    [Parameter]
    public required ProductionLogStep LogStep { get; set;}
    /// <summary>
    /// Event callback triggered when the step is completed.
    /// The tuple contains the production log step and a nullable boolean indicating success or failure.
    /// </summary>
    [Parameter]
    public EventCallback<(ProductionLogStep, bool?)> OnStepCompleted { get; set; }

    private FluentTextArea? _failureNoteTextArea;
    
    private string _currentAttemptNotes = "";

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        if (LogStep.LatestAttempt?.Success == null)
        {
            SetSelectedButton("");
        }
        else if (LogStep.LatestAttempt.Success.Value)
        {
            SetSelectedButton("Success");
        }
        else
        {
            SetSelectedButton("Failure");
        }
    
        SetOptionalNotes();
    }

    private bool ShowDetails = false;

    private void toggleDetails()
    {
        ShowDetails = !ShowDetails;
        StateHasChanged();
    }
    
    private bool ShowOptionalNotesField { get; set; } = false;
    
    private string? SelectedButton { get; set; } = "";

    private void SetSelectedButton(string buttonName)
    {
        SelectedButton = SelectedButton == buttonName ? null : buttonName;
    }
    
    private void SetOptionalNotes()
    {
        if ((!string.IsNullOrWhiteSpace(LogStep.LatestAttempt.Notes) || 
             (LogStep.LatestAttempt.Success.HasValue && !LogStep.LatestAttempt.Success.Value)))
        {
            ShowOptionalNotesField = true;
        }
    }

    private async Task HandleButtonPress(bool? result)
    {
        var attempt = new ProductionLogStepAttempt()
        {
            Success = result ?? false,
            SubmitTime = DateTimeOffset.UtcNow,
            Notes = (result.HasValue && !result.Value) ? _currentAttemptNotes : ""

        };

        LogStep.Attempts.Add(attempt);
    
        // Clear the temporary notes field
        _currentAttemptNotes = string.Empty;
    
        await OnStepCompleted.InvokeAsync((LogStep, result));
        SetSelectedButton(result.HasValue ? (result.Value ? "Success" : "Failure") : "");
    
        if (!result.HasValue)
        {
            ShowOptionalNotesField = false;
        }
        else if (!result.Value)
        {
            ShowOptionalNotesField = !ShowOptionalNotesField;
            if (ShowOptionalNotesField && _failureNoteTextArea?.Element != null)
            {
                await JsRuntime.InvokeVoidAsync("AutoFocus.setFocus", _failureNoteTextArea.Id);
            }
        }
        else
        {
            ShowOptionalNotesField = false;
        }
    }
}