@page "/LogArchive"
@using System.Text
@using MESS.Data.Models
@using MESS.Blazor.Components.Layout
@using MESS.Services.ProductionLog
@using Microsoft.AspNetCore.Components.Authorization
@using SortDirection = MudBlazor.SortDirection
@layout PhoebeLayout
@inject NavigationManager NavManager
@inject IProductionLogService ProductionLogService

<ErrorBoundary>
    <ChildContent>
        <AuthorizeView Roles="Administrator">
            <Authorizing>
                <p>Authorizing...</p>
            </Authorizing>
            <NotAuthorized>
                <div class="col">
                    <div class="alert alert-danger">
                        You are not authorized to view this Page.
                        <button class="btn btn-sm btn-outline-secondary text-start" @onclick="@(() => NavManager.NavigateTo("/"))">
                            <i class="bi bi-arrow-left"/>To Login
                        </button>
                    </div>                    
                </div>
            </NotAuthorized>
            <Authorized>
                @if (!IsLoading)
                {
                    <div class="d-flex justify-content-between my-2" style="flex-direction: row">
                        <h3>Log Archive</h3>
                        <div class="flex-grow-1"/>
                        <input type="text" class="form-control w-auto" placeholder="Search..."
                               @bind="SearchString" @bind:event="oninput"  />
                        
                    </div>
                    <div class="border rounded">
                        <MudTable ServerData="ServerReload" Striped="true" @ref="table" Loading="IsLoading">
                            <HeaderContent>
                                <MudTh><MudTableSortLabel SortLabel="product_field" SortBy="new Func<ProductionLog, object>(x => x.Product?.Name ?? string.Empty)">Product</MudTableSortLabel></MudTh>
                                <MudTh><MudTableSortLabel SortLabel="instruction_field" SortBy="new Func<ProductionLog, object>(x => x.WorkInstruction?.Title ?? string.Empty)">Work Instruction</MudTableSortLabel></MudTh>
                                <MudTh><MudTableSortLabel SortLabel="serno_field" SortBy="new Func<ProductionLog, object>(x => x.ProductSerialNumber ?? string.Empty)">Product Serial Number</MudTableSortLabel></MudTh>
                                <MudTh><MudTableSortLabel SortLabel="worker_field" SortBy="new Func<ProductionLog, object>(x => x.CreatedBy)">Created By</MudTableSortLabel></MudTh>
                                <MudTh><MudTableSortLabel SortLabel="created_field" InitialDirection="SortDirection.Descending" SortBy="new Func<ProductionLog, object>(x => x.CreatedOn)">Created On</MudTableSortLabel></MudTh>
                                <MudTh><MudTableSortLabel SortLabel="modified_field" SortBy="new Func<ProductionLog, object>(x => x.LastModifiedOn)">Last Modified On</MudTableSortLabel></MudTh>
                                <MudTh>Actions</MudTh>
                            </HeaderContent>
                            <RowTemplate Context="productionLog">
                                <MudTd DataLabel="Product">@(productionLog.Product?.Name ?? NoProduct)</MudTd>
                                <MudTd DataLabel="Work Instruction">@(productionLog.WorkInstruction?.Title ?? NoWorkInstruction)</MudTd>
                                <MudTd DataLabel="Product Serial Number">@productionLog.ProductSerialNumber</MudTd>
                                <MudTd DataLabel="Created By">@productionLog.CreatedBy</MudTd>
                                <MudTd DataLabel="Created On">@productionLog.CreatedOn.LocalDateTime.ToString("yyyy-MM-dd HH:mm")</MudTd>
                                <MudTd DataLabel="Last Modified On">@productionLog.LastModifiedOn.LocalDateTime.ToString("yyyy-MM-dd HH:mm")</MudTd>
                                <MudTd DataLabel="Actions">
                                    <button class="btn btn-sm btn-primary">
                                        Options
                                    </button>
                                </MudTd>
                            </RowTemplate>
                            <PagerContent>
                                <MudTablePager/>
                            </PagerContent>
                        </MudTable>
                        
                    </div>
                }
                else
                {
                    <div class="container">
                        Loading...
                    </div>
                }
            
            </Authorized>
        </AuthorizeView>
    </ChildContent>
    <ErrorContent Context="ex">
        <div class="alert alert-danger" role="alert">
            An error occurred: @ex.Message
        </div>
    </ErrorContent>
</ErrorBoundary>


@code {
    private bool IsLoading { get; set; } = true;
    private List<ProductionLog> ProductionLogs { get; set; } = new();
    private IEnumerable<ProductionLog> pagedData = new List<ProductionLog>();
    private MudTable<ProductionLog> table = new MudTable<ProductionLog>();
    private int totalItems;
    
    private Dictionary<ProductionLog, int> SearchHits { get; } = [];
    private int MaxHits => SearchHits.Values.Max();

    private string _searchString = "";
    private string SearchString
    {
        get => _searchString;
        set
        {
            _searchString = value;
            table.ReloadServerData(); 
        }
    }
    
    private const string NoProduct = "(No Product)";
    private const string NoWorkInstruction = "(No Work Instruction)";
    
    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        ProductionLogs = await ProductionLogService.GetAllAsync() ?? [];
        foreach (var log in ProductionLogs)
        {
            SearchHits.Add(log, 0);
        }
        
        IsLoading = false;
    }

    private async Task<TableData<ProductionLog>> ServerReload(TableState state, CancellationToken token)
    {
        IEnumerable<ProductionLog> data = ProductionLogs;
        await Task.Delay(20, token);

        foreach (var log in data)
        {
            SearchHits[log] = FilterHits(log, SearchString);
        }
        
        data = data.Where(log => 
            (SearchHits[log] >= MaxHits)
        ).ToArray();
        totalItems = data.Count();
        
        switch (state.SortLabel)
        {
            case "product_field":
                data = data.OrderByDirection(state.SortDirection, o => o.Product?.Name);
                break;
            case "instruction_field":
                data = data.OrderByDirection(state.SortDirection, o => o.WorkInstruction?.Title);
                break;
            case "serno_field":
                data = data.OrderByDirection(state.SortDirection, o => o.ProductSerialNumber);
                break;
            case "worker_field":
                data = data.OrderByDirection(state.SortDirection, o => o.CreatedBy);
                break;
            case "created_field":
                data = data.OrderByDirection(state.SortDirection, o => o.CreatedOn.LocalDateTime.ToString("yyyy-MM-dd HH:mm"));
                break;
            case "modified_field":
                data = data.OrderByDirection(state.SortDirection, o => o.LastModifiedOn.LocalDateTime.ToString("yyyy-MM-dd HH:mm"));
                break;
        }
        pagedData = data.Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        return new TableData<ProductionLog>() {TotalItems = totalItems, Items = pagedData};
    }
    
    private int FilterHits(ProductionLog log, string search)
    {
        var hits = 0;
        if (string.IsNullOrWhiteSpace(search))
            return hits;
        
        var searchPhrase = search.Trim();
        
        if (SatisfiesFilter(log.Product?.Name, searchPhrase))
            hits++;
        
        if (SatisfiesFilter(log.WorkInstruction?.Title, searchPhrase))
            hits++;

        if (SatisfiesFilter(log.CreatedBy, searchPhrase))
            hits++;

        if (SatisfiesFilter(log.CreatedOn.LocalDateTime.ToString("yyyy-MM-dd HH:mm"), searchPhrase))
            hits++;
        
        if (SatisfiesFilter(log.LastModifiedOn.LocalDateTime.ToString("yyyy-MM-dd HH:mm"), searchPhrase))
            hits++;

        return hits;
    }
    
    private bool SatisfiesFilter(string? columnPhrase, string searchPhrase)
    {
        if (!string.IsNullOrWhiteSpace(columnPhrase))
        {
            var trimmedColumnPhrase = columnPhrase.Trim();
            
            // intended for columns to catch smaller search phrases
            if (trimmedColumnPhrase.Contains(searchPhrase, StringComparison.OrdinalIgnoreCase))
                return true;
    
            // for multi worded search phrase
            foreach (var columnPhraseWord in trimmedColumnPhrase.Split(" "))
            {
                foreach (var searchPhraseWord in searchPhrase.Split(" "))
                {
                    if (!string.IsNullOrWhiteSpace(searchPhraseWord) && 
                        (searchPhrase.Contains(columnPhraseWord, StringComparison.OrdinalIgnoreCase)
                        || columnPhrase.Contains(searchPhraseWord, StringComparison.OrdinalIgnoreCase)))
                    return true;
                }
            }
        }

        return false;
    }
    
}