@using MESS.Blazor.Components.Pages.Phoebe.WorkInstruction.WorkInstructionNodes.ImageList
@inject IJSRuntime JS

    <div class="d-flex align-items-start">
        <div class="w-50 p-2">
            <div class="mb-2">
                <label class="form-label" for="stepNameInput">Step Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="stepNameInput"
                    value="@Step.Name"
                    @oninput="OnNameChanged"
                    placeholder="Enter step name" />
            </div>
            <div id="step-editor-@Step.Id" class="editor-wrapper" style="width: 100%; max-width: 100%; overflow: auto;">
                <BlazoredTextEditor @ref="_editorRef">
                    <ToolbarContent>
                        @((MarkupString)DefaultToolbarHtml)
                    </ToolbarContent>
                </BlazoredTextEditor>
            </div>

            <button class="btn btn-sm btn-primary my-2" @onclick="SwapField">
                @(ShowBody ? "Hide Details" : "Show Details")
            </button>
        </div>

        <div class="w-50 p-2">
            
            <ImageList
                PrimaryMedia="@Step.PrimaryMedia"
                SecondaryMedia="@Step.SecondaryMedia"
                ShowBody="@ShowBody"
                OnMediaChanged="HandleImageMediaChanged" />

            <!--
                <WorkInstructionImageManager
                PrimaryMedia="@Step.PrimaryMedia"
                SecondaryMedia="@Step.SecondaryMedia"
                ShowBody="@ShowBody"
                OnMediaChanged="HandleImageMediaChanged" />
            -->
        </div>
        <NodeActionMenu OnAction="HandleMoveAction" />
    </div>