@page "/production-log"
@using MESS.Data.Models
@using MESS.Services.ProductionLog
@inject IProductionLogService ProductionLogService
@inject NavigationManager NavigationManager

@if (_productionLogs == null)
{
    <p>
        Loading...
    </p>
}
else
{
    <div>
        <button @onclick="ToNewPage">Create New Log</button>
    </div>
    @foreach (var log in _productionLogs)
    {
        <div>
            <p>
                @log.Id
            </p>
            <p>
                @log.SubmitTime
            </p>
            <p>Work Instruction: @(log.WorkInstruction?.Title ?? "N/A")</p>

            <div>
                @if (log.LogSteps != null && log.LogSteps.Any())
                {
                    <p>Steps:</p>
                    @foreach (var step in log.LogSteps)
                    {
                        <p>Step Success: @step.Success</p>
                    }
                }
                else
                {
                    <p>No Steps Logged</p>
                }
            </div>
            <p>Product: @(log.Product?.Name ?? "N/A")</p>

            <p>
                @log.LineOperator
            </p>
        </div>
    }
}
    
    
@code {
    private List<ProductionLog>? _productionLogs;

    protected override async Task OnInitializedAsync()
    {
        _productionLogs = await ProductionLogService.GetAllAsync();
    }
    

    private void ToNewPage()
    {
        NavigationManager.NavigateTo("/production-log/new");
    }
    
}