@page "/production-log"
@using MESS.Data.Models
@using MESS.Services.ProductionLog
@inject IProductionLogService ProductionLogService
@inject NavigationManager NavigationManager

@if (_productionLogs == null)
{
    <p>
        Loading...
    </p>
}
else
{
    <div>
        <button @onclick="ToNewPage">Create New Log</button>
    </div>
    @foreach (var log in _productionLogs)
    {
        <div>
            <p>
                @log.Id
            </p>
            <p>
                @log.SubmitTime
            </p>
            <p>
                @if (log.WorkInstruction != null)
                {
                    @log.WorkInstruction.Title
                }
            </p>
            <div>
                @if (log.LogSteps != null)
                {
                    foreach (var step in log.LogSteps)
                    {
                        <p>
                            @step.Success
                        </p>
                    }
                }
            </div>
            <p>
                @if (log.Product != null)
                {
                    @log.Product.Name
                }
            </p>
            <p>
                @log.LineOperator
            </p>
        </div>
    }
}
    
    
@code {
    private List<ProductionLog>? _productionLogs;

    protected override void OnInitialized()
    {
        _productionLogs = ProductionLogService.GetAll().ToList();
    }

    private void ToNewPage()
    {
        NavigationManager.NavigateTo("/production-log/new");
    }
    
}