@using MESS.Data.Models

<div class="card m-2">
    <div class="card-body">
        @if (ActiveSerialNumberLog != null)
        {
            <div class="form-floating d-inline-flex gap-2 mb-1">
                <InputText id="serialNumberLog" class="form-control col custom-input" @bind-Value="@ActiveSerialNumberLog.PartSerialNumber"
                           @bind-Value:after="@(() => AfterSerialNumberInput.InvokeAsync(ActiveSerialNumberLog))"></InputText>
                <label class="form-label col custom-label" for="serialNumberLog">@ActiveSerialNumberLog.Part?.PartName</label>
            </div>
        }
    </div>
    <div class="card-footer">
        <ul class="pagination">
            @for (var i = 0; i < _serialNumberLogs.Count; i++)
            {
                var index = i;
                <li class="page-item">
                    <a class="page-link" @onclick="@(() => ActiveSerialNumberLog = _serialNumberLogs[index])">@(i + 1)</a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="d-flex align-items-center mt-2">
    <button disabled="@(string.IsNullOrWhiteSpace(ProductSerialNumber) || _serialNumberLogs.Any(l => string.IsNullOrWhiteSpace(l.PartSerialNumber)))"
            type="button" class="btn btn-outline-secondary" @onclick="PrintQRCode">
        <i class="bi bi-printer"></i> Print QR Code
    </button>
</div>

@code {
    [Parameter] public required List<SerialNumberLog> _serialNumberLogs { get; set; }

    [Parameter] public required string ProductSerialNumber { get; set; }

    [Parameter]
    public required EventCallback<SerialNumberLog> AfterSerialNumberInput { get; set; }
    
    [Parameter]
    public required EventCallback<MouseEventArgs> PrintQRCode { get; set; }
    
    private SerialNumberLog? ActiveSerialNumberLog { get; set; }

    protected override void OnInitialized()
    {
        if (_serialNumberLogs.Count > 0 && ActiveSerialNumberLog == null)
        {
            ActiveSerialNumberLog = _serialNumberLogs[0];
        }
        base.OnInitialized();
    }

}